body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(82, 82, 82, 0.139);
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #2c2c2a;
    color: white;
    padding: 2vw;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 2vw;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem; 
}

.cartikon {
    cursor:pointer;
}

.produkt-sektion {
    text-align: center;
    padding: 5vw 3vw;
}

.produkter {
    display: flex;
    justify-content: center;
    gap: 3vw;
    flex-wrap: wrap;
}

.produkt {
    background: white;
    padding: 3vw;
    border-radius: 1vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 1);
    max-width: 300px;
    margin: 2vw;
}

.produkt img {
    width: 20vw;
    max-width: 150px;
    height: auto;
}

.produkt h3 {
    margin: 1vw 0;
}

.pris {
    font-weight: bold;
    color: red;
}

button {
    background: grey;
    color: white;
    border: none;
    padding: 1vw 2vw;
    cursor: pointer;
    margin-top: 1vw;
}

button:hover {
    background: #555;
}

.cart {
    position: fixed;
    overflow: scroll;
    max-height: 100vh;
    top: 7vh;
    bottom: 7vh;
    right: -25vw;
    width: 20vw;
    background: white;
    padding: 2vw;
    box-shadow:  -1vw 0 3vw rgba(0, 0, 0, 0.2);;
    transition: right 0.5s;
}

.cart.open {
    right: 2vw;
}

#OmOss {
    max-width: 90%;
    max-width: 700px;
    margin: 0 auto;
    padding: 5vw 3vw;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

#OmOss h2 {
    font-size: clamp(1.8rem, 4vw, 2.5rem);
    margin-bottom: 1.5rem;
    color: #222;
}

#OmOss p {
    font-size: clamp(1rem, 2vw, 1.1rem);
    margin-bottom: 1rem;
}


#KontaktaOss {
    text-align: center;
    right: 50%
}

#tillbaka {
    position: fixed;
    display: none;
    bottom: 5%;
    left: 5%;
    cursor: pointer;
    background-color: #333;
    color: white;
    width: 14vw;
    transition: right 0.5s;
}

#tillbaka:hover {
    background-color: #555;
}

footer {
    background: grey;
    color: white;
    text-align: center;
    padding: 2vw 0;
    margin-top: 3vw;
}

@media (max-width: 768px) {
    header, footer {
        padding: 5vw;
    }

    nav ul li {
        margin: 0 1vw;
    }

    .produkt img {
        width: 50vw;
    }

    .cart {
        width: 80vw;
        right: -80vw;
    }

    .cart.open {
        right: 2vw;
    }

}

@media (max-width: 480px) {
    nav ul li {
        display: block;
        margin: 1vw 0;
    }

    .produkt-sektion {
        padding: 3vw;
    }

    .produkt img {
        width: 70vw;
    }

    button {
        padding: 2vw 4vw;
    }
}